.col-md-3 {
    background: #252B42;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    padding-left: 15px;
}

.aside a {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding-bottom: 30px;
}

.aside a:hover {
    color: #F57F25;
}

.aside p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.aside p:hover {
    color: #F57F25;
}

.aside i {
    margin-right: 10px;
    font-size: 15px;
}

.aside i:hover {
    color: #F57F25;
}

.aside .abajo {
    margin-left: 10px;
    font-size: 12px;
}

.aside-usuario {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    padding-inline: 15px;
}

.aside-usuario a {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    border: 3px solid #fafafa;
    padding: 10px 15px;
    border-radius: 5px;
}

.aside-usuario a:hover {
    color: #F57F25;
    border: 3px solid #F57F25;
}

.aside-usuario i {
    margin-right: 10px;
}

.aside-usuario img {
    max-width: 55px;
    border-radius: 50%;
    border: 3px solid #fafafa;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.usuario h3 {
    color: #252B42;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.usuario h3 i {
    margin-left: 10px;
}

.tarjetitas {
    margin-top: 40px;
}

.tarjetitas .col-md-4 {
    padding: 30px;
}

.tarjetita {
    padding: 20px;
    border-radius: 5px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.tarjetita .numero {
    color: #252B42;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
}

.tarjetita .titulo-tarjetita {
    color: #252B42;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/*                                              */
#toggleButton {
    cursor: pointer;
}

.lista-secundaria a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    text-decoration: none;
    list-style: none;
}

.lista-secundaria a:hover {
    color: #F57F25;
}

.lista-secundaria {
    padding-left: 25px;
}

.lista-secundaria li {
    padding-bottom: 5px;
    list-style-type: none
}

.tablita {
    overflow: auto;
    border-radius: 5px;
    background: #D9D9D9;
    padding: 25px 50px;
    margin-inline: 100px;
    border-radius: 5px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    max-height: 400px;
}

.head-tablita {
    margin-inline: 100px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.head-tablita p {
    color: #252B42;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.head-tablita .boton-agregar a {
    border-radius: 5px;
    background: #FFF;
    padding: 10px 15px;
    text-decoration: none;
    color: #2CAF68;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.boton-agregar a:hover {
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
}

.boton-agregar i {
    padding-left: 10px;
}

table thead th {
    color: #252B42;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding-inline: 30px;
}

table tbody td {
    color: #252B42;
    padding-inline: 30px;
    font-size: 16px;
}

.boton {
    padding-right: 10px !important;
    padding-left: 0 !important;
}

table tbody .editar button {
    color: #daa34b;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.editar i {
    margin-left: 5px;
}

table tbody .eliminar button {
    color: #E74040;
    font-family: Montserrat;
    font-weight: 700;
    margin: 5px;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.eliminar i {
    margin-left: 5px;
}


table tbody .agregar button {
    color: #71a773;
    font-family: Montserrat;
    font-weight: 700;
    margin: 5px;
    font-size: 16px;
    display: flex;
    border: none;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.agregar i {
    margin-left: 5px;
}