/* header */

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    font-family: var(--fuente);
    height: 90px;
    margin-block-end: 50px;
    background-color: var(--blanco);
}

header h3 {
    font-weight: var(--bold);
    font-size: 24px;
    margin: 0;
}

header h3 a {
    text-decoration: none;
    color: var(--azul);
}

header h3 a:hover {
    color: var(--azul);
}

header nav a {
    text-decoration: none;
    margin: 10px;
    color: var(--gris);
    font-weight: var(--bold);
    font-size: 14px;
}

header .headerA {
    margin-inline-end: 90px;
}

.headerAcceder {
    color: var(--gris);
}

.headerAcceder:hover {
    color: var(--naranja);
}

header nav a:hover {
    color: var(--naranja);
}

header div a {
    text-decoration: none;
    margin: 10px;
    color: var(--naranja);
    font-weight: var(--bold);
    font-size: 14px;
}

header div a:hover {
    color: var(--gris);
}

header div .registrarse {
    color: var(--blanco);
    border-radius: 5px;
    background: var(--naranja);
    padding: 15px 23px;
}

header div .registrarse:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
    color: var(--blanco);
}

.barra {
    margin: 0 !important;
}

.barra i {
    color: var(--azul);
}

.barra input {
    border-radius: 5px;
}

/* header para usuari0 */
.imagenParaUsuario {
    max-width: 50px;
    border-radius: 50%;
}

.imagenParaUsuario a {
    margin: 0;
}

.imagenParaUsuario img {
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
}

@media (max-width: 828px) {

    /* header */
    header {
        display: flex;
        margin-block-end: 20px;
        align-items: center;
        margin-block-start: 20px;
        justify-content: flex-start;
        flex-direction: column;
        height: 150px;
        align-items: center;
    }

    header h3 {
        padding-bottom: 10px;
    }

    header .barra {
        padding-bottom: 25px;
    }

    header .menu {
        padding-bottom: 10px;
    }
}