/* header */

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;
    font-family: var(--fuente);
    height: 70px;
    background-color: var(--blanco);
}

header h3 {
    font-weight: var(--bold);
    font-size: 24px;
    margin: 0;
}

header h3 a {
    text-decoration: none;
    color: var(--azul);
}

header h3 a:hover {
    color: var(--azul);
}

header h4 {
    margin-right: 8vh;
}

header nav a {
    text-decoration: none;
    margin: 10px;
    color: var(--gris);
    font-weight: var(--bold);
    font-size: 14px;
}

header .headerA {
    margin-inline-end: 90px;
}

.headerAcceder {
    color: var(--gris);
}

.headerAcceder:hover {
    color: var(--naranja);
}

header nav a:hover {
    color: var(--naranja);
}

header div a {
    text-decoration: none;
    margin: 10px;
    color: var(--naranja);
    font-weight: var(--bold);
    font-size: 14px;
}

header div a:hover {
    color: var(--gris);
}

/* header div .registrarse {
    color: var(--naranja);
    font-weight: var(--bold);
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid var(--primary-color, #FF685B);
} */

/* header div .registrarse:hover {
    box-shadow: 1px 1px 15px -9px rgba(37, 43, 66, 1);
    color: #FF685B;
} */

header div .registrarse {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--danger-color, #E74040);
    color: var(--light-text-color, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

header div .registrarse:hover {
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

header div .registrarse i{
    padding-inline-start: 10px;
}

/* header para usuari0 */
.imagenParaUsuario {

    min-width: 65px;
    max-width: 65px;
    max-height: 65px;
    min-width: 65px;
}

.imagenParaUsuario img {
    border-radius: 50%;
    max-width: 60px;
    min-width: 60px;
    max-height: 60px;
    min-width: 60px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
}

.barra {
    background-color: var(--blanco);
    padding-bottom: 20px;
    margin: 0 !important;
}

.barra .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.barra input {
    border-radius: 5px;
    border: 0.667px solid var(--azul);
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.04);
}

.barra button {
    color: var(--blanco);
    border-radius: 0 5px 5px 0;
    background: var(--azul);
    border: 0.667px solid var(--azul);
    font-weight: bold;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.04);
}

.barra button:hover {
    box-shadow: 1px 1px 15px -9px rgba(37, 43, 66, 1);
    background: var(--azul);
}

@media (max-width: 828px) {

    /* header */
    header {
        display: flex;
        align-items: center;
        margin-block-start: 20px;
        justify-content: flex-start;
        flex-direction: column;
        height: 150px;
        align-items: center;
    }

    header h3 {
        padding-bottom: 10px;
    }

    header .barra {
        padding-bottom: 25px;
    }

    header .menu {
        padding-bottom: 10px;
    }

    .barra {
        margin-block-end: 20px;
    }
}