/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --celeste: #EEF4F8;
}

body {
    font-family: var(--fuente);
    background-color: var(--blanco);
}

/* inicio */
.inicio {
 
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-block-end: 80px;
    font-family: var(--fuente);
}

.inicio .presentacion {
    padding-inline-end: 60px;
}

.inicio .presentacion h5 {
    color: var(--naranja);
    font-weight: var(--bold);
    font-size: 16px;
    margin-block-end: 30px;
}

.inicio .presentacion h1 {
    color: var(--azul);
    font-weight: var(--bold);
    font-size: 58px;
    margin-block-end: 20px;
}

.inicio .presentacion h4 {
    color: var(--gris);
    font-weight: var(--regular);
    font-size: 20px;
    line-height: 30px;
    margin-block-end: 45px;
}

.inicio .presentacion a {
    color: var(--naranja);
    font-weight: var(--bold);
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid var(--primary-color, #FF685B);
}

.inicio .imagen {
    padding: 0;
}

/* tarjetas */
.tarjetas {
    font-family: var(--fuente);
}

.tarjetas .tarjeta {
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 40px;
    height: 350px;
}

.tarjetas .tarjeta .icono {
    margin-block-end: 20px;
}

.tarjetas .tarjeta .icono i {
    padding: 20px;
    border-radius: 200px;
    background: var(--naranjaOscuro);
}

.tarjetas .tarjeta hr {
    color: var(--naranjaOscuro);
    border: 1px solid var(--naranjaOscuro);
    width: 50px;
}

.tarjetas .tarjeta h5 {
    color: var(--azul);
    font-weight: var(--bold);
    font-size: 16px;
}

.tarjetas .tarjeta p {
    color: var(--gris);
    font-weight: var(--regular);
    font-size: 14px;
}

/* tarjetas-anuncios (kevin)*/

.anuncios {
    
    background-color: var(--celeste);
    padding-bottom: 25px;
}

.tarjeta-anuncio {
    background-color: var(--blanco);
    padding-bottom: 30px;
}



.tarjeta-anuncio img {
    padding-top: 10px;
    width: 210px;
    height: 210px;
    border-radius: 50%;

}

.tarjeta-anuncio button {
    margin-top: 10px;
}

.head-anuncios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    width: 100%;

}

.texto-anuncio {
    width: 500px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--gris);

}

.head-anuncios h2 {
    width: 399px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--azul);
}

.titulo-cartel {
    width: 71px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--naranjaOscuro);
}

.nombre-empleador {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--azul);
}

.descripcion-empleador {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.empleo .servicio {
    padding-right: 120px;
}

.empleo .servicio,
.valoracion {
    padding-top: 15px;
}

.empleo .servicio a {
    text-decoration: none;
    color: var(--naranja);
}

.contacto-anuncios {
    text-decoration: none;
}

.boton-contacto {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 40px;
    gap: 10px;
    text-decoration: none;
    width: 60%;
    border: 1px solid #FF685B;
    border-radius: 37px;
}

.boton-contacto h6 {
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FF685B;
}

.boton-contacto i {
    color: var(--naranja);
}

.ver-mas {
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 60px;
    background: var(--azul);
    border-radius: 37px;
}

.ver-mas a h6 {
    padding-top: 3px;
    width: 70px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--blanco);

}

@media (max-width: 768px) {

    .inicio .presentacion {
        padding: 0;
    }

    .inicio .presentacion h1 {
        font-size: 40px;
    }

    .inicio,
    .tarjetas {
        padding-inline: 50px;
    }

    .inicio .imagen {
        margin-block-start: 20px;
    }
}