/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --blancoClaro: #F5F5F5;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --grisClaro: #ECECEC;
    --celeste: #EEF4F8;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: var(--fuente);
    background-color: var(--grisClaro);
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 30px;
}

.col-md-3,
.col-md-9 {
    padding: 0;
}

.col-md-3 {
    padding-inline-end: 30px;
    padding-block-end: 30px;
}

/* categorias */
.categorias {
    position: sticky;
    top: 20px;
    background-color: var(--blanco);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    padding-block: 20px;
    padding-inline: 35px;
    border-radius: 5px;
    color: #252B42;
}

.padre {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}

.padre i {
    margin-left: 5px;
    font-size: 14px;
}

.categorias .categoria {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.categorias label {
    color: var(--azul);
    font-size: 15px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    stroke: rgba(0, 0, 0, 0.219);
    border: 2px solid #00000066
}

/* personas */

.personas .persona {
    background-color: var(--blanco);
    padding: 20px 35px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    border-radius: 5px;
    margin-block: 30px;
}

.persona .especialidades {
    display: inline-block;
    padding-right: 5px;
}

.persona .especialidades h3{
    background-color: #fd5243;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FAFAFA !important;
}

.info-persona .nombre {
    color: var(--text-color, #252B42);
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.info-persona .nombre:hover {
    color: #3b446b;
}

.personas .persona h4 {
    display: inline-block;
    padding-inline: 10px;
    align-items: center;
    background-color: var(--naranjaOscuro);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--blanco);
    font-size: 14px;
    font-weight: var(--bold);
    line-height: 24px;
    margin-inline-end: 10px;
}


.persona .imagen {
    max-width: 200px;
    max-height: 200px;
}

.persona .col-md-3 {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imagen-container {
    max-width: 100%;
    height: auto;
}

.persona .imagen-container img {
    min-width: 170px;
    max-width: 170px;
    max-height: 170px;
    min-height: 170px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    margin-block: 10px;
}

.personas .persona h3 {
    color: var(--naranja);
    font-size: 14px;
    font-weight: var(--bold);
}

.personas .persona h5 {
    color: var(--azul);
    font-size: 16px;
    font-weight: var(--bold);
}

.persona .descripcion {
    max-height: 105px;
    padding-bottom: 10px;
    overflow: auto;
}

.persona .descripcion p {
    color: var(--gris);
    font-size: 14px;
    margin: 0;
}

.personas .persona .ubicacion {
    display: flex;
    align-items: center;
    color: var(--gris);
    font-size: 14px;
    font-weight: var(--bold);
    margin-block-end: 7px;
}

.personas .persona .ubicacion p {
    margin: 0;
    padding-left: 10px;
}

.personas .persona button {
    padding: 10px 20px;
    border-radius: 37px;
    border: 1px solid var(--naranja);
    background-color: var(--blanco);
    color: var(--primary-color, #FF685B);
    font-size: 14px;
    font-weight: var(--bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline-end: 10px;
    margin-top: 10px;
}

.persona button span {
    margin-right: 10px;
}


.persona button i {
    font-size: 24px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 30px;
}

.botones .anterior {
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding-right: 15px;
}

.botones .anterior:hover {
    color: #E74040;
}

.botones .siguiente {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: var(--danger-color, #E74040);
    color: var(--light-text-color, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.botones .siguiente:hover {
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

.botones .siguiente i {
    padding-inline-start: 10px;
}


@media (max-width: 993px) {
    .categorias {
        padding-inline: 10px;
        margin-bottom: 30px;
        position: static;
    }

    .persona .imagen-container img {
        min-width: 100px;
        max-width: 100px;
        max-height: 100px;
        min-height: 100px;
    }
}