/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --blancoClaro: #F5F5F5;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --grisClaro: #ECECEC;
    --celeste: #EEF4F8;
}

html,body {
    position: relative;
    height: 100%;
}

body {
    font-family: var(--fuente);
    background-color: var(--grisClaro);
    margin: 0;
    padding: 0;
}

/* categorias */
.categorias {
    position: sticky;
    top: 20px;
    background-color: var(--blanco);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    padding-block: 20px;
    padding-inline: 35px;
    border-radius: 5px;
}

.categorias p {
    color: var(--gris);
    font-size: 14px;
}

.categorias .categoria {
    display: flex;
}

.categorias label {
    margin-bottom: 20px;
    color: var(--azul);
    font-size: 14px;

}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    stroke: rgba(0, 0, 0, 0.219);
    border: 2px solid #00000066
}

/* personas */

.personas .persona {
    background-color: var(--blanco);
    padding: 20px 35px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    border-radius: 5px;
    margin-block-end: 30px;
}

.persona .especialidades {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-block-end: 5px;
}

.personas .persona h4 {
    display: inline-block;
    padding-inline: 10px;
    align-items: center;
    background-color: var(--naranjaOscuro);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--blanco);
    font-size: 14px;
    font-weight: var(--bold);
    line-height: 24px;
    margin-inline-end: 10px;
}

.persona .imagen {
    max-width: 200px;
    max-height: 200px;
}

.imagen-container{
    max-width: 100%;
    height: auto;
}

.persona .imagen-container img {
    min-width: 170px;
    max-width: 170px;
    max-height: 170px;
    min-height: 170px;


    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    margin-block: 10px;
    
}

.personas .persona h3 {
    color: var(--naranja);
    font-size: 14px;
    font-weight: var(--bold);
}

.personas .persona h5 {
    color: var(--azul);
    font-size: 16px;
    font-weight: var(--bold);
}

.persona .descripcion p {
    color: var(--gris);
    font-size: 14px;
    margin-block-end: 7px;
    overflow: auto;
    max-height: 105px;
    margin-block: 10px;
}

.personas .persona .ubicacion {
    display: flex;
    align-items: center;
    color: var(--gris);
    font-size: 14px;
    font-weight: var(--bold);
    margin-block-end: 7px;
}

.personas .persona .ubicacion p {
    margin: 0;
    padding-left: 10px;
}

.personas .persona button {
    padding: 10px 20px;
    border-radius: 37px;
    border: 1px solid var(--naranja);
    background-color: var(--blanco);
    color: var(--primary-color, #FF685B);
    font-size: 14px;
    font-weight: var(--bold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.persona button i {
    font-size: 24px;
    margin-inline-start: 10px;
}


@media (max-width: 993px) {
    .categorias {
        padding-inline: 10px;
    }
}

@media (max-width: 768px) {}