/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --blancoClaro: #F5F5F5;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --grisClaro: #ECECEC;
    --celeste: #EEF4F8;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: var(--fuente);
    background-color: var(--grisClaro);
    margin: 0;
    padding: 0;
}

/* header */
#mobile-menu-button {
    display: none;
    /*Inicialmente oculto en pantallas grandes */
    cursor: pointer;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fuente);
    height: 90px;
    margin-block-end: 50px;
    background-color: var(--blanco);
}

header h3 {
    color: var(--azul);
    font-weight: var(--bold);
    font-size: 24px;
}

header nav a {
    text-decoration: none;
    margin: 10px;
    color: var(--gris);
    font-weight: var(--bold);
    font-size: 14px;
}

header .headerA {
    margin-inline-end: 90px;
}

.headerAcceder {
    color: var(--gris);
}

.headerAcceder:hover {
    color: var(--naranja);
}

header nav a:hover {
    color: var(--naranja);
}

header div a {
    text-decoration: none;
    margin: 10px;
    color: var(--naranja);
    font-weight: var(--bold);
    font-size: 14px;
}

header div a:hover {
    color: var(--gris);
}

header div .registrarse {
    color: var(--blanco);
    border-radius: 5px;
    background: var(--naranja);
    padding: 15px 23px;
}

header div .registrarse:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
    color: var(--blanco);
}

/* contenedor */
.contenedor {
    padding-inline: 197px;
    font-family: var(--fuente);
}

/* categorias */
.contenedor .categorias {
    background-color: var(--blancoClaro);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    border: 1px solid #0000001A;
    padding-block: 20px;
    padding-inline: 35px;
    height: 100%;
}

.categorias p {
    color: var(--gris);
    font-size: 12px;
}

.categorias input {
    margin-bottom: 20px;
    color: var(--azul);
    font-size: 14px;
    display: inline;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    stroke: rgba(0, 0, 0, 0.219);
    border: 2px solid #00000066
}

/* personas */
.personas{
    margin: 0;
    padding: 0;
}
.personas .persona {
    background-color: var(--blanco);
    padding: 20px;
    height: 100%;
}

.personas .persona h4 {
    display: inline;
    padding: 5px 10px;
    align-items: center;
    background-color: var(--naranjaOscuro);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--blanco);
    font-size: 12px;
    font-weight: var(--bold);
    line-height: 24px;
}

.personas .persona img {
    border-radius: 200px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    margin-block: 10px;
}

.personas .persona h3 {
    color: var(--naranja);
    font-size: 14px;
    font-weight: var(--bold);
}

.personas .persona h5 {
    color: var(--azul);
    font-size: 16px;
    font-weight: var(--bold);
}

.personas .persona .descripcion {
    color: var(--gris);
    font-size: 14px;
    margin-block-end: 7px;
}

.personas .persona .ubicacion {
    display: flex;
    align-items: center;
    color: var(--gris);
    font-size: 14px;
    font-weight: var(--bold);
    margin-block-end: 7px;
}

.personas .persona .ubicacion p {
    margin: 0;
    padding-left: 10px;
}

.personas .persona button {
    padding: 10px 20px;
    border-radius: 37px;
    border: 1px solid var(--naranja);
    background-color: var(--blanco);
    color: var(--primary-color, #FF685B);
    font-size: 14px;
    font-weight: var(--bold);
}



@media (max-width: 768px) {
    /* header */

    header {
        display: flex;
        height: 40px;
        margin-block-end: 20px;
        justify-content: space-around;
        align-items: center;
        margin-block-start: 20px;
    }

    header #menu {
        display: none;
        /* Oculta el menú en pantallas pequeñas */
    }

    #mobile-menu-button {
        display: inline;
        /* Muestra el icono de hamburguesa en pantallas pequeñas */
    }

    /* Muestra el menú cuando se hace clic en el icono de hamburguesa */
    #menu.show-menu {
        display: inline;
    }

    #menu.show-menu a {
        font-size: 5px;
    }

    /* fin header */

}