/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --blanco2: #fff;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --grisClaro: #ECECEC;
    --celeste: #EEF4F8;
}

body {
    background: var(--grisClaro);
    font-family: var(--fuente);
    color: var(--azul);
}

.container {
    position: relative;
    max-width: 850px;
    padding: 0;
    padding-top: 30px;
}

.contenedor-info {
    display: none;
}

/* styles.css */
.icono-estrella {
    cursor: pointer;
    transition: color 0.3s;
    margin: 10px;
}

.editar-portada {
    position: absolute;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
    background-size: cover;
    background-origin: border-box;
}

.editar-portada:hover {
    transform: scale(1.3);
}

.editar-perfil {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
    background-size: cover;
    background-origin: border-box;
}


.contenido {
    background-color: var(--blanco2);
    border-radius: 5px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    margin-block-end: 30px;
}

.contenedor-info {
    display: none;
}

.icono-perfil {
    cursor: pointer;
}


.perfil {
    padding-inline: 100px;
}

.perfil-principal {
    border-radius: 5px 5px 5px 5px;
}

.portada img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.perfil img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    background: url("/Frontend/img/prueba-perfil.jpg");
    border: 5px solid #E5E5E5;
    border-radius: 50%;
}

.categorias {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.categorias .btn-categorias {
    padding: 5px 10px;
    border-radius: 3px;
    background: var(--naranjaOscuro);
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--blanco);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: var(--bold);
}

.categorias .text {
    text-decoration: none;
    color: var(--naranja);
    font-size: 14px;
    font-weight: var(--bold);
    padding: 10px;
}

.perfil-inferior {
    padding-top: 50px;
    padding-inline: 100px;
}

.perfil-inferior h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 5px;

}

.perfil-inferior p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
    max-height: 150px;
    overflow: auto;
}

.perfil-inferior .btn-perfil-inf {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-radius: 37px;
    margin-bottom: 30px;
    margin-right: 15px;
}

.perfil-inferior .whatsapp {
    cursor: pointer;
    border: 1px solid #FF685B;
}

.perfil-inferior .email {
    cursor: pointer;
    border: 1px solid #252B42;
}

.perfil-inferior .email a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: var(--azul);
}

.perfil-inferior .whatsapp a {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: var(--naranjaOscuro);
}

.email i {
    padding-left: 10px;
    font-size: 20px;
}

.email:hover {
    transform: scale(1.1);
}

.whatsapp:hover {
    transform: scale(1.1);
}

.perfil-inferior .whatsapp i {
    padding-left: 10px;
    font-size: 20px;
}

.perfil-inferior .perfil-inferior button h6 {
    padding-top: 5px;
    width: 91px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* primary-color */
    color: #FF685B;
}


.perfil-inferior .btn2 h6 {
    width: 42px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;

}

.perfil-inferior .btn2 {
    padding-left: 10px;
    padding-bottom: 10px;
}


.formulario-editar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.formulario-editar form {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    justify-content: center;
}

.formulario-editar .nombres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contenedorCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#camposAdicionales {
    padding-top: 15px
}

.labelRegistro {
    margin: 0 !important;
    padding-left: 10px;
}

.formulario-editar{
    border-radius: 5px;
}

.formulario-editar label {
    display: block;
    font-weight: bold;
}

.formulario-editar input[type="text"],
.formulario-editar textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario-editar .botones a {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.formulario-editar .botones a:hover {
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}

.formulario-editar button {
    color: #252B42;
    cursor: pointer;
    border: none;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.formulario-editar label,
.formulario-editar input[type="text"],
.formulario-editar textarea,
.formulario-editar button {
    margin-bottom: 5px;
}

.descripcion {
    padding-top: 15px;
}

.botones {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.FormularioTrabajos {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.FormularioTrabajos label,
.FormularioTrabajos input,
.FormularioTrabajos textarea,
.FormularioTrabajos button {
    display: block;
    margin-bottom: 10px;
}

.FormularioTrabajos label {
    font-weight: bold;
}

.FormularioTrabajos input[type="file"] {
    width: 100%;
}

.FormularioTrabajos input[type="text"],
.FormularioTrabajos textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.FormularioTrabajos button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.FormularioTrabajos button[type="submit"]:hover {
    background-color: #0056b3;
}

.FormularioTrabajos button[type="button"] {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.FormularioTrabajos button[type="button"]:hover {
    background-color: #c82333;
}



/* Estilos para el formulario de edición de fotos */
.editar-fotos {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    max-width: 400px;
    border-radius: 5px;
}

.editar-fotos h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.editar-fotos label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.editar-fotos select,
.editar-fotos input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.editar-fotos .foto {
    margin-bottom: 30px !important;
}

.editar-fotos button {
    color: #252B42;
    cursor: pointer;
    border: none;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.editar-fotos .guardar {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--danger-color, #E74040);
    color: var(--light-text-color, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

.editar-fotos .guardar:hover {
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}


/*Contenedores*/

.contenedor-flecha {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-inline: 70px;
    height: 100px;
}

.contenedor-flecha h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #252B42;
    margin: 0;
}

.contenedor-info {
    padding-inline: 100px;
    padding-bottom: 25px;
}

.resenias {
    margin-bottom: 20px;
}

.nombre {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.encabezado {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.encabezado .barra {
    padding-inline: 20px;
    margin-bottom: 4px !important;
}

.estrellas i {
    margin-inline: 2px;
    color: var(--gris);
}

.cuerpo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}

/* proyectos */
.proyectos-cuerpo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.encabezado {
    margin: 0;
}

.encabezado img {
    max-width: 170px;
    max-height: 125px;
    border-radius: 5px;
}

.titulo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: var(--azul)
}

.cuerpo-proyecto {
    padding-left: 25px;
}

.text-proyecto {
    margin: 0;
    color: var(--gris);
    font-size: 14px;
}

/* ubicacion */

.ubi-info {
    padding-bottom: 15px;
}

.ubi-info .ubi-i {
    display: inline;
    padding-right: 5px;
    color: var(--gris);
}

.ubi-info .ubi {
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #737373;
}

.location iframe {
    max-width: 665px;
    max-height: 300px;
}

@media (max-width: 993px) {
    .perfil {
        padding-inline: 0px;
    }

    .contenedor-info {
        padding-inline: 20px;
    }

    .perfil-inferior {
        padding: 20px;
        padding-top: 50px;
    }

    .perfil-inferior p {
        max-width: 350px;
        font-size: 18px;
    }

    .container {
        padding-inline: 15px;
    }

    .proyectos-cuerpo {
        flex-direction: column
    }

    .proyectos-cuerpo .cuerpo-proyecto {
        padding-block: 20px;
        padding-inline: 0;
    }

}