/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --blanco2: #fff;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --celeste: #EEF4F8;
}


.presentacion {
    position: relative;

    border: var(--azul) 1px solid;
    border-radius: 10px;
    height: 450px;

}



.foto-portada {

    display: flex;
    justify-content: end;

    border: rgb(0, 0, 0) 1px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    height: 33%;



}

.foto-portada img{
    padding: 0;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
    width: 100%;
}

.foto-portada a{

    margin: 10px;
    
    border: 1px solid black ;
    position: absolute;
    

}


.foto-perfil img{
    position: absolute;
    top: 0px;
    left: 0;
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 60px;


    border-radius: 50%;
}

.foto-perfil h2{
    padding-top: 15%;
    padding-left: 30px;
}