/* variables */
:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --blanco2: #fff;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --grisClaro: #ECECEC;
    --celeste: #EEF4F8;
}

body {
    background: var(--grisClaro);
}

.container {
    max-width: 850px;
    padding: 0;
}

/* styles.css */
.icono-estrella {
    cursor: pointer;
    transition: color 0.3s;
    margin: 10px;
}


.contenido {
    background-color: var(--blanco2);
    border-radius: 5px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.05));
    margin-block-end: 30px;
}

.contenedor-info {
    display: none;
}

.icono-perfil {
    cursor: pointer;
}


.perfil {
    padding-inline: 100px;
}

.perfil-principal {
    border-radius: 5px 5px 5px 5px;
}

.portada img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.perfil img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    background: url("/Frontend/img/prueba-perfil.jpg");
    border: 5px solid #E5E5E5;
    border-radius: 50%;
}

.categorias {
    padding-top: 30px;
}

.categorias .btn-categorias {
    padding: 5px 10px;
    border-radius: 3px;
    background: var(--naranjaOscuro);
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--blanco);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: var(--bold);
}

.categorias .text {
    text-decoration: none;
    color: var(--naranja);
    font-size: 14px;
    font-weight: var(--bold);
}

.perfil-inferior {
    padding-top: 70px;
    padding-inline: 100px;
}

.perfil-inferior h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 5px;
}

.perfil-inferior p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
}

.perfil-inferior .btn-perfil-inf {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-radius: 37px;
    margin-bottom: 30px;
    margin-right: 15px;
}

.perfil-inferior .whatsapp {
    border: 1px solid #FF685B;
}

.perfil-inferior .email {
    border: 1px solid #252B42;
}

.perfil-inferior .email a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: var(--azul);
}

.perfil-inferior .whatsapp a {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: var(--naranjaOscuro);
}

.email i {
    padding-left: 10px;
    font-size: 20px;
}

.perfil-inferior .whatsapp i {
    padding-left: 10px;
    font-size: 20px;
}

.perfil-inferior .perfil-inferior button h6 {
    padding-top: 5px;
    width: 91px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* primary-color */
    color: #FF685B;
}


.perfil-inferior .btn2 h6 {
    width: 42px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;

}

.perfil-inferior .btn2 {
    padding-left: 10px;
    padding-bottom: 10px;
}

/*Contenedores*/

.contenedor-flecha {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-inline: 70px;
    height: 100px;
}

.contenedor-flecha h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #252B42;
    margin: 0;
}

.contenedor-info {
    padding-inline: 100px;
}

.resenias {
    margin-bottom: 20px;
}

.nombre {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.encabezado {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.encabezado .barra {
    padding-inline: 20px;
    margin-bottom: 4px !important;
}

.estrellas i {
    margin-inline: 2px;
    color: var(--gris);
}

.cuerpo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}





.proyectos {
    /* Reseñas */


    width: 181px;
    height: 61px;
    left: 73px;
    top: 32px;

    padding-left: 70px;
    padding-top: 20px;


    /* sub-nombre */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #252B42;
}


.encabezado img {
    /* Frame 162 */
    margin-bottom: 30px;
    width: 170px;
    height: 125px;
    border-radius: 5px;

}

.cuerpo-proyecto {
    padding-left: 20px;
    padding-top: 15px;
}

.titulo {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
}

.cuerpo-proyecto .text-proyecto {


    width: 90%;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;

}

.ubi {
    width: 90%;
    padding-left: 100px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}

.location {
    padding: 10px;
    justify-content: center;


}

.location img {
    padding-left: 60px;
    padding-right: 60px;


    width: 775px;
    height: 270px;
    padding-bottom: 40px;
}