:root {
    /* fuentes(letras) */
    --fuente: 'Montserrat', sans-serif;
    --regular: 400;
    --bold: 700;
    /* colores */
    --blanco: #FAFAFA;
    --naranja: #FF685B;
    --naranjaOscuro: #E74040;
    --azul: #252B42;
    --gris: #737373;
    --celeste: #EEF4F8;
}

.row {
    display: flex;
    justify-content: center;
}

.registro{
    margin-bottom: 50px;
}

.container .registro .titulo {
    margin-block-end: 30px;
    color: var(--azul);
    font-size: 50px;
    font-weight: var(--regular);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro .checkbox {
    display: inline;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.registro label {
    margin-block-end: 20px;
    color: var(--gris);
}

.registro .label-categoria {
    margin-block-end: 5px;
}

.registro select {
    margin-block-end: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
}

.registro input {
    margin-block-end: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
}

.contenedorCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.registro .registrar {
    background: var(--naranja);
    color: var(--blanco);
}

.registro .registrar:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
}

.registro p {
    display: inline;
    margin-right: 5px;
    font-size: 14px;
    color: var(--gris);
}

.registro a {
    text-decoration: none;
    color: var(--azul);
    font-weight: var(--bold);
    font-size: 14px;
}



@media only screen and (max-width: 575px) {
    .contenedor {
        padding-inline: 40px;
    }

    #camposAdicionales select {
        margin-block-end: 25px;
    }
}