<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/acercaDe.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
  <%- include ('../partials/header') %>

  <div class="container">
    <h1 class="col-md-12">Conecta Oficios</h1>

  </div>

  <%- include ('../partials/footer') %>

</body>

</html>