<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/admin.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="menu">
          <h3>Inicio</h3>
          <ul>
            <li><a href="">Home</a></li>
            <p>Tablas</p>
            <ul>
                <li><a href="">Especializaciones</a></li>
                <li><a href="">Especializacion_usuario</a></li>
                <li><a href="">Usuarios</a></li>
            </ul>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>