<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/admin.css">
</head>

<body>
  <!-- <div class="text-end mt-3 mb-3">
        <a onclick="GuardarId(0)" href="admin-producto.html" class="boton-nuevo">+ Nuevo Producto</a>
      </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="title">Tabla usuarios</p>
        <table>
          <thead>
            <tr>
              <th class="">Id</th>
              <th class="">Email</th>
              <th class="">Password</th>
              <th class="">Nombre</th>
              <th class="">Apellido</th>
              <th class="">Contacto</th>
              <th class="">Descripcion</th>
              <th class="">Destacado</th>
              <th class="">Especialista</th>
              <th class="">Direccion</th>
              <th class="">Token</th>
              <th class="">Path</th>
              <th class="">Path_portada</th>
              <th class="">Editar</th>
              <th class="">Eliminar</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <p class="title">Tabla especializaciones</p>
        <table>
          <thead>
            <tr>
              <th class="">Id</th>
              <th class="">Especializacion</th>
              <th class="">Editar</th>
              <th class="">Eliminar</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <p class="title">Tabla especializacion_usuario</p>
        <table>
          <thead>
            <tr>
              <th class="">Id</th>
              <th class="">Id_usuario</th>
              <th class="">Id_especializacion</th>
              <th class="">Editar</th>
              <th class="">Eliminar</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>