<!DOCTYPE html>
<html lang="en">

  
<head>

  <%- include ('../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/oficios.css">
</head>


<body style="background-color: #ececec;">

  <%- include ('../partials/header') %>

  <div class="contenedor row">
    <div class="categorias col-md-3">
      <p>Categorías</p>
      <div>
        <input id="agua" type="checkbox">
        <label for="agua">AGUA</label>
      </div>
      <div>
        <input id="gas" type="checkbox">
        <label for="gas">GAS</label>
      </div>
      <div>
        <input id="electricidad" type="checkbox">
        <label for="electricidad">ELECTRICIDAD</label>
      </div>
      <div>
        <input id="tecnologia" type="checkbox">
        <label for="tecnologia">TECNOLOGÍA</label>
      </div>


    </div>
    <div class="personas col-md-9 row">
      <div class="persona col-md-4">
        <h4>Agua</h4>
        <img class="img-fluid" src="/Frontend/img/persona.jpg" alt="">
        <h3>Plomero</h3>
        <h5>Raul Gomez</h5>
        <p class="descripcion">Desde reparaciones simples hasta proyectos más complejos,
          resuelve problemas de tuberías, desagües y grifería con precisión.</p>
        <div class="ubicacion">
          <i class="fa-solid fa-location-dot"></i>
          <p>Calle 504, 970</p>
        </div>
        <button>Contacto</button>
      </div>

      <div class="persona col-md-4">
        <h4>Agua</h4>
        <img class="img-fluid" src="/Frontend/img/persona.jpg" alt="">
        <h3>Plomero</h3>
        <h5>Raul Gomez</h5>
        <p class="descripcion">Desde reparaciones simples hasta proyectos más complejos,
          resuelve problemas de tuberías, desagües y grifería con precisión.</p>
        <div class="ubicacion">
          <i class="fa-solid fa-location-dot"></i>
          <p>Calle 504, 970</p>
        </div>
        <button>Contacto</button>
      </div>

      <div class="persona col-md-4">
        <h4>Agua</h4>
        <img class="img-fluid" src="/Frontend/img/persona.jpg" alt="">
        <h3>Plomero</h3>
        <h5>Raul Gomez</h5>
        <p class="descripcion">Desde reparaciones simples hasta proyectos más complejos,
          resuelve problemas de tuberías, desagües y grifería con precisión.</p>
        <div class="ubicacion">
          <i class="fa-solid fa-location-dot"></i>
          <p>Calle 504, 970</p>
        </div>
        <button>Contacto</button>
      </div>
      <div class="persona col-md-4">
        <h4>Agua</h4>
        <img class="img-fluid" src="/Frontend/img/persona.jpg" alt="">
        <h3>Plomero</h3>
        <h5>Raul Gomez</h5>
        <p class="descripcion">Desde reparaciones simples hasta proyectos más complejos,
          resuelve problemas de tuberías, desagües y grifería con precisión.</p>
        <div class="ubicacion">
          <i class="fa-solid fa-location-dot"></i>
          <p>Calle 504, 970</p>
        </div>
        <button>Contacto</button>
      </div>

    </div>

  </div>
  


  <%- include ('../partials/footer') %>




  <script src="/Frontend/js/script.js"></script>
</body>

</html>