<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/Frontend/css/perfil.css">


</head>

<body>

  <%- include ('../partials/header') %>


    <div class="container">
      <div class="row">
        <div class="col-md-12 portada">
          <img class="img-fluid" src="/Frontend/img/prueba-portada.jpg" alt="">
        </div>
        <div class="col-md-12 perfil">
          <img src="/Frontend/img/prueba-perfil-formal.jpg" class="img-fluid" alt="">
          <div class="categorias text-end">
            <a href="/Frontend/views/pages/oficios.ejs" class="btn btn-danger">agua</a>
            <a href="/Frontend/views/pages/oficios.ejs" class="text">plomero</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="perfil-inferior">
          <h1 class="nombre">Raul Gomez</h1>
          <p>Desde reparaciones simples hasta proyectos más complejos, resuelve problemas de tuberías, desagües y
            grifería
            con precisión.Desde reparaciones simples hasta proyectos más complejos, resuelve problemas de tuberías,
            desagües y grifería con precisión.</p>

          <div class="d-flex">
            <div>
              <button>
                <h6>234600000</h6>
              </button>
            </div>
            
            <div class="btn2">
              <button>
                <h6 class="mail">mail</h6>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container">
      <div>
        <h5 class="titulo-reseña">Reseñas</h5>
      </div>
      <div>
        <div class="encabezado d-flex">
          <h4 class="nombre">Maria Rosa</h4>
          <i class="estrellas">1 2 3 4 5</i>
        </div>
        <div class="cuerpo">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis molestias quam! Voluptas
            suscipit laborum praesentium exercitationem consequuntur laudantium enim nemo asperiores perferendis
            numquam, id voluptatem nulla soluta molestias eveniet.</p>
        </div>
        <div class="vector">
          <p></p>
        </div>
      </div>

      <div>
        <div class="encabezado d-flex">
          <h5 class="nombre">Maria Rosa</h5>

          <i class="estrellas">1 2 3 4 5</i>
        </div>
        <div class="cuerpo">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis molestias quam! Voluptas
            suscipit laborum praesentium exercitationem consequuntur laudantium enim nemo asperiores perferendis
            numquam, id voluptatem nulla soluta molestias eveniet.</p>
        </div>
        <div class="vector">
          <p></p>
        </div>
      </div>
    </div>
    <br>

    <div class="container">
      <div>
        <h5 class="proyectos">Proyectos/Trabajos</h5>
      </div>
      <div>
        <div class="proyectos-cuerpo d-flex ">
          <div class="encabezado">
            <img src="/Frontend/img/prueba-trabajador.jpg" alt="">
          </div>
          <div class="cuerpo-proyecto">
            <h5 class="titulo">
              Titulo
            </h5>
            <p class="text-proyecto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab explicabo
              quisquam exercitationem
              quaerat odit ad ipsa, repudiandae, fugiat quod nam distinctio quo non obcaecati illum eum atque. Officia,
              id.</p>
          </div>
        </div>
        <div class="vector">
          <p></p>
        </div>
      </div>
      <div>
        <div class="proyectos-cuerpo d-flex ">
          <div class="encabezado">
            <img src="/Frontend/img/prueba-trabajador.jpg" alt="">
          </div>
          <div class="cuerpo-proyecto">
            <h5 class="titulo">
              Titulo
            </h5>
            <p class="text-proyecto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab explicabo
              quisquam exercitationem
              quaerat odit ad ipsa, repudiandae, fugiat quod nam distinctio quo non obcaecati illum eum atque. Officia,
              id.</p>
          </div>
        </div>
        <div class="vector">
          <p></p>
        </div>
      </div>
    </div>
  <br>

    <div class="container">
      <h5 class="proyectos">Ubicacion</h5>
      <p class="ubi">coordenadas</p>
      <div class="location d-flex">
        <img src="/Frontend/img/prueba-localizacion.webp" alt="">
      </div>
    </div>



    <%- include ('../partials/footer') %>
</body>

</html>