<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head') %>
  <link rel="stylesheet" href="/Frontend/css/admin.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="aside">
          <a href="/admin"><i class="fa-solid fa-house-chimney"></i>Inicio</a>
          <p id="toggleButton"><i class="fa-solid fa-server"></i>Base de datos<i class="fas fa-chevron-down abajo"></i></p>
          <ul class="lista-secundaria" style="display: none;">
            <li><a href="categorias">Categorías</a></li>
            <li><a href="especializaciones">Especializaciones</a></li>
            <li><a href="especializacionDeUsuario">Especializacion de Usuario</a></li>
            <li><a href="proyectos">Proyectos</a></li>
            <li><a href="usuariosAdmin">Usuarios</a></li>
          </ul>
        </div>
        <div class="aside-usuario">
          <a href="/index"><i class="fa-solid fa-arrow-left"></i>Cerrar Sesión</a>
          <img class="img-fluid" src="/Frontend/uploads/fede.png" alt="">
        </div>
      </div>

      <div class="col-md-9">
        <div class="head-tablita">
          <p class="title">Tabla Especializacion de Usuario</p>
        </div>
        <div class="tablita">
          <table>
            <thead>
              <tr>
                <th class="agregar"></th>
                <th class="editar"></th>
                <th class="eliminar"></th>
                <th class="">Id</th>
                <th class="">Id_Usuario</th>
                <th class="">Id_Especializacion</th>
              </tr>
            </thead>
            <tbody>
              <% especializacionUsuario.forEach(function(e) { %>
                <tr>
                  <td class="boton"><div class="agregar"><button>Agregar<i class="fa-solid fa-plus"></i></button></div></td>
                  <td class="boton"><div class="editar"><button>Editar<i class="fa-regular fa-pen-to-square"></i></button></div></td>
                  <td class="boton"><div class="eliminar"><button>Eliminar<i class="fa-solid fa-ban"></i></button></div></td>
                  <td><%= e.id %></td>
                  <td><%= e.id_usuario %></td>
                  <td><%= e.id_especializacion %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="/Frontend/js/script.js"></script>
</body>

</html>