<head>
  <link rel="stylesheet" href="/Frontend/css/banner-anuncio.css">
</head>

<div class="anuncio-destacar">
  <div class="row">
    <div class="col-md-6">
      <div class="imagen-anuncio-destacar">
        <img class="img-fluid" src="/Frontend/img/anuncio.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-anuncio-destacar">
        <h3>¡Destaca tu negocio de oficio en Chivilcoy!</h3>
        <hr>
        <div class="parrafo-anuncio">
          <p>Conviértete en el profesional de referencia en tu área.
            Únete a nuestra plataforma y llega a más clientes.</p>
        </div>
        <a href="">Destácate ahora<i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>