<footer>

    <div class="row">
        <div class="col-md-7 texto1">
            <h6>
                ConectaOficios.com 2023. Todos los derechos reservados.
            </h6>
        </div>
        <div class="col-md-6 div-icon">
            <div class="iconos">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-facebook"></i>
            </div>
        </div>
    </div>

</footer>