<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Frontend/css/footer.css">
  <title>Document</title>
</head>

<body>
  <footer>
    <h6>
      &copy;ConectaOficios.com. 2023. Todos los derechos reservados.
    </h6>
    <div class="iconos">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-facebook"></i>
    </div>
  </footer>
</body>

</html>