<head>
  <link rel="stylesheet" href="/Frontend/css/footer.css">
</head>

<footer>
  <h6>
    &copy; ConectaOficios.com 2023. Todos los derechos reservados.
  </h6>
  <div class="iconos">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-whatsapp"></i>
    <i class="fab fa-facebook"></i>
  </div>
</footer>