<head>
    <link rel="stylesheet" href="/Frontend/css/header.css">
    <link rel="stylesheet" href="/Frontend/css/index.css">
  </head>
  
  <header>
    <h3><a href="/">ConectaOficios.com</a></h3>
  </header>