<head>
    <link rel="stylesheet" href="/Frontend/css/header.css">
  </head>
  
  <header>
    <h3><a href="/">ConectaOficios.com</a></h3>
    <form class="d-flex mt-3 barra" role="search">
      <input class="form-control me-2" id="inputSearch" type="search" placeholder="Buscar..." aria-label="Search">
      <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="imagenParaUsuario">
        <a href="dirige a su perfil"><img class="img-fluid" src="/Frontend/img/persona.jpg" alt=""></a>
    </div>
  </header>