<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ConectaOficios</title>
<!-- boostrap -->


<link rel="stylesheet" href="/Frontend/css/bootstrap5css.css">
<script src="/Frontend/js/bootstrap5js.js"></script>
<!-- fuentes -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<!-- iconos -->
<script src="/Frontend/js/fontawesome.js"></script>
<!-- Jquery-->
<script src="/Frontend/js/Jquery.js"></script>