<head>
  <link rel="stylesheet" href="/Frontend/css/header.css">
</head>

<div class="contenedor">
  <header>
    <h3><a href="/">ConectaOficios.com</a></h3>
    <div class="menu">
      <a href="/">Inicio</a>
      <a href="/oficios/0">Oficios</a>
      <a href="/destacar">Destacarse</a>
    </div>
    <div class="menu">
      <a class="headerAcceder" href="/iniciarSesion">Acceder</a>
      <a class="registrarse" href="/registro">Registrarse<i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </header>

  <div class="barra">
    <div class="row">
      <div class="col-md-4">
        <div style="position: relative;">
          <div class="input-group">
            <input type="text" id="search-input" class="form-control" placeholder="Buscar oficios...">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="search-button">Buscar</button>
            </div>
          </div>
          <!-- Lista de sugerencias (inicialmente oculta) -->
          <ul class="list-group" id="suggestions" style="display: none;position: absolute; width: 100%;"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/Frontend/js/script.js"></script>